.NavBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  height: 50px;
  width: 90%;
  margin: auto;
}

.NavBar a {
  color: white;
}

.NavBar a:hover {
  color: #333;
  transition: all ease-in-out .4s;
}

.NavBar .Title {
  font-size: 3rem;
  cursor: pointer;
}

.NavBar .Title:hover, .NavItem:hover {
  color: #333;
  transition: all ease-in-out .4s;
}

.NavList {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 5 15px;
  font-size: 18px;
}

.NavItem {
  list-style-type: none;
  margin-left: 100px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .NavBar {
    width: 100%;
    height: 100px;
  }
}